::-WEBKIT-SCROLLBAR {
  WIDTH:8PX;
}
::-WEBKIT-SCROLLBAR-THUMB {
  BACKGROUND:#687;
}
BODY {
  WIDTH:100%;
  MAX-WIDTH:1081PX;
  MARGIN:16PX AUTO;
  BACKGROUND:#465;
  FONT:20PX COURIER;
  COLOR:#FD4;
}
A,SPAN {
  FONT-SIZE:14PX;
  COLOR:#E82;
  text-decoration: 0;
}
DIV {
  POSITION:STICKY;
  DISPLAY:FLEX;
  TOP:0;
  LEFT:0;
  WIDTH:100%;
  MARGIN:16PX AUTO 0;
  BACKGROUND:#465;
}
INPUT { FLEX:AUTO }
INPUT::PLACEHOLDER { COLOR:#999 }
INPUT {
  BORDER:0;
  OUTLINE:0;
  BACKGROUND:#465;
  FONT:14PX COURIER;
  COLOR:#DDD
}
SPAN {
  DISPLAY:NONE;
  POSITION:ABSOLUTE;
  TOP:40PX;
  RIGHT:0;
}
LI {
  WIDTH:100PX;
  PADDING:10PX;
  BACKGROUND:#222;
  MARGIN:-1PX 0;
  BORDER:1PX SOLID #444;
}
TABLE {
  WIDTH:100%;
  BORDER-SPACING:0;
  FONT:11PX MEIRYO UI;
  COLOR:#228;
  TEXT-ALIGN:CENTER;
  BACKGROUND:#EEE;
  border-collapse: collapse;
  WORD-BREAK:break-word
}
